/***************GUEST HOMEPAGE*************/

.guest {
  background-color: #050726;
  height: 100vh;
}

.guest .container .homepage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.guest .container .homepage img {
  height: 300px;
  margin-top: 30px;
}

.guest .container .homepage-text .text-header {
  margin-top: 60px;
  color: white;
  text-align: center;
}

.guest .container .homepage-text .text-desc {
  color: whitesmoke;
  margin-top: 20px;
}

.guest .container .homepage-btn {
  margin: 0 auto;
  text-align: center;
  margin-top: 90px;
}

.guest .container .homepage-btn .homepage-button  {
  background-color: yellow;
  padding: 10px 100px;
  border-radius: 10px;
}


