@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

/***************Guest Component*************/
.App {
  font-family: 'Montserrat', sans-serif;
}

.loader {
  overflow-y: scroll;
}

.loader::-webkit-scrollbar {
  display: none;
}

.guest {
  background-color: #050726;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guest .home .row img {
  height: 260px;
  object-fit: contain;
  padding: 10px;
  border-radius: 50%;
}

.guest .home .row p {
  font-size: 14px;
  color: #dddddd;
}

.guest .home .row .homepage-btn .homepage-button  {
  background-color: #eb1e25;
  padding: 10px 60px;
  border-radius: 47px;
  color: #ffffff;
  font-size: 8px !important;
  font-weight: 600;
}

/*********************Modal Component***********/
.the-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.the-modal .modal-container {
  background-color: #f4f4f4;
  padding: 5px;
  width: 35%; /*change the size of the modal box here*/
  height: 300px; /*change the height of the modal box here*/
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 13% auto;
  position: relative;
}

.the-modal .modal-container .header {
  margin: 0 auto;
  text-align: center;
  padding: 0px 50px;
}

.the-modal .modal-container .contents {
  margin: 0 auto;
  text-align: center;
}

.the-modal .modal-container .contents h5 {
  text-transform: lowercase;
  font-weight: 600;
  font-size: 2px;
}

.the-modal .modal-container .contents h6 {
  font-size: 12px;
  color: gray;
}

.the-modal .modal-container .contents form {
  margin-top: 20px;
  padding: 10px;
}

.the-modal .modal-container .contents form input {
  padding: 5px;
  border-radius: 47px;
  width: 320px;
  font-size: 12px;
  border: 0.1px solid gray;
}

.the-modal .modal-container .contents form .modal-button {
  background-color: #eb1e25;
  margin-top: 10px;
  border-radius: 47px;
  padding: 5px 70px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif !important;
}

.the-modal .modal-container .caterer-modal-btns {
  display: flex;
  justify-content: space-around;
}

.the-modal .modal-container .caterer-modal-btns .MuiSvgIcon-root {
  font-size: 30px;
}


/****************Category Component*********************************/
.categories {
  background-color: #dddddd;
  height: 100vh;
}

.categories .container .category-header {
  padding-top: 30px;
}

.categories .container .category-header p  {
  color: gray;
}

.categories .container .category-contents .nigerian {
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.categories .container .category-contents .continental {
  background-color: #fff;
  padding: 13px 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.categories .container .category-contents .continental .texts, .categories .container .category-contents .nigerian .texts {
  padding: 5px 50px;
}

.categories .container .category-contents img {
  width: 200px;
  object-fit: contain;
  border-radius: 10px;
}

/************************************Nigerian Dishes Component*******************/
.nigeria {
  background-color: #dddddd;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
}

.nigeria::-webkit-scrollbar {
  display: none;
}

.nigeria .container .nigeria-header {
  padding-top: 30px;
}

.nigeria .container .nigeria-header p {
  color: gray;
}

.nigeria .container .nigerian-meals {
  margin-top: 10px;
}

.nigeria .space {
  margin-top: 100px;
}

.checkbox {
  margin: 15px 0px;
  background-color: #fff;
  padding: 6px 30px;
  font-size: 20px;
  border-radius: 10px;
  color: black;
}

.checkbox .available {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  text-transform: capitalize;
}

.checkbox .desc {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.checkbox .desc img {
  height: 50px;
  width: 80px;
  border: none;
  border-radius: 10px;
}

.checkbox .desc .status {
  font-size: 12px;
  text-transform: capitalize;
  color: #000;
  font-weight: 600;
}

.checkbox .desc p {
  color: gray;
  font-size: 12px;
  text-transform: capitalize;
}

.meal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #fff !important;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 5px;
}

.meal-btn .meals-button {
  background-color: #eb1e25;
  color: white;
  border-radius: 47px;
  padding: 10px 80px;
}

.meal-btn .meals-button:hover {
  background-color: #eb1e25;
}

/*****************************Continental Component*********************/
.continentals {
  background-color: #dddddd;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
}

.continentals::-webkit-scrollbar {
  display: none;
}

.continentals .container .continentals-header {
  padding-top: 30px;
}

.continentals .container .continentals-header p {
  color: gray;
}

.continentals .container .continental-meals {
  margin-top: 10px;
}

.continentals .space {
  margin-top: 100px;
}

.cont-meal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #fff !important;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 5px;
}

.cont-meal-btn .cont-meals-button {
  background-color: #eb1e25;
  color: white;
  border-radius: 47px;
  padding: 10px 80px;
}

.cont-meal-btn .cont-meals-button:hover {
  background-color: #eb1e25;
}

/***************Order Component*****************************************/
.order {
  background-color: #dddddd;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
}

.order::-webkit-scrollbar {
  display: none;
}

.order .container .order-header {
  padding-top: 30px;
}

.order .container .order-header p {
  color: #424242;
}

.order .container .ordered-meals .ordered-food {
  margin: 15px 0px;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 10px;
  color: black;
  text-transform: capitalize;
}

.order .container .ordered-meals .ordered-food h3 {
  font-size: 18px;
}

.order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #fff !important;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 5px;
}

.order-button .order-btn {
  background-color: #eb1e25;
  color: white;
  border-radius: 47px;
  padding: 10px 80px;
}

.order-button .order-btn:hover {
  background-color: #eb1e25;
}

/*******************Update Component*****************************/
.update {
  background-color: #fff;
  height: 100vh;
  position: relative;
}

.update .update-header {
  padding-top: 30px;
}

.update .container .update-status {
  margin-top: 30px;
}

.update .container .update-status h4 {
    font-size: 20px;
}

.update .container .update-status p {
  font-size: 14px;
  color: #424242;
}

.update .container .update-status .successful {
  border-left : 3px solid #00ff00 !important;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.update .container .update-status .processing {
  border-left : 3px solid #00ff00 !important;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.update .container .update-status .order-is-completed {
  border-left : 3px solid #00ff00;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.update .container .update-status .in-progress, .served {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-left: 3px solid #fff;
}

.check-again {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #fff !important;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 5px;
  border-radius: none;
}

 .check-again .check-again-btn {
  background-color: #eb1e25 !important;
  color: white;
  border-radius: 47px;
  padding: 10px 80px;
}

.check-again .check-again-btn:hover {
  background-color: #eb1e25;
}

/***********************************************Admin Side*******************************************************/
.admin-login {
  background-color: #050726;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-login .homepage .row img {
  height: 220px;
  object-fit: contain;
  padding: 10px;
  border-radius: 50%;
}

.admin-login .homepage .admin-login-details form {
  margin-top: 20px;
  padding: 10px;
}

.admin-login .homepage .admin-login-details form input {
  padding: 10px;
  border-radius: 47px;
  width: 320px;
  font-size: 12px;
  border: 0.1px solid gray;
}

.admin-login .homepage .admin-login-details form .admin-btn {
  background-color: #eb1e25;
  padding: 10px 100px;
  border-radius: 47px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 600;
}

/****************************************************/
.admin-dashboard-panel {
  background-color: #dddddd;
  height: 120vh;
}

.admin-dashboard-panel .container .details {
  padding-top: 30px;
  color: white;
  margin: 0 auto;
}

.admin-dashboard-panel .container .details h6 {
  font-size: 10px;
  font-weight: 300;
}

.admin-dashboard-panel .container .details .total-caterers .inner-total {
  background-color: #050726;
  padding: 10px;
  border-radius: 16px;
  border: none;
}

.admin-dashboard-panel .container .details .food-category .inner-food {
  background-color: #9717b7;
  padding: 10px;
  border-radius: 16px;
  border: none;
}

.admin-dashboard-panel .container .details .food-menu-items .inner-menu {
  background-color: #424dff;
  padding: 10px;
  border-radius: 16px;
  border: none;
}

.admin-dashboard-panel .container .details .total-orders .inner-order {
  background-color: #1bb10e;
  padding: 10px;
  border-radius: 16px;
  border: none;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 4px;
  display: flex;
  justify-content: space-around;
}

.bottom-nav .MuiSvgIcon-root {
  color: #050726;
}

/****************************************/
.add {
  background-color: #ddd;
  height: 100vh;
}

.add .container {
  padding-top: 30px;
}

.add .container .add-caterer, .add .container .add-meal {
  background-color: #fff;
  padding: 20px 50px;
  border-radius: 10px;
  border: none;
  font-weight: 400;
}

.add .MuiSvgIcon-root {
  margin-right: 15px;
}

.new-meal {
  background-color: #dddddd;
  height: 100vh;
}

.new-meal .container .header {
  padding-top: 30px;
}

.new-meal .container .category-contents .nigerian {
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.new-meal .container .category-contents .continental {
  background-color: #fff;
  padding: 13px 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.new-meal .container .category-contents .continental .texts, .new-meal .container .category-contents .nigerian .texts {
  padding: 5px 50px;
}

.new-meal .container .category-contents img {
  width: 200px;
  object-fit: contain;
  border-radius: 10px;
}
/******************************************************************/
.create-meal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #fff !important;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 5px;
}

.create-meal-btn .create-meal-button {
  background-color: #eb1e25;
  color: white;
  border-radius: 47px;
  padding: 10px 80px;
}

.create-meal-btn .create-meal-button:hover {
  background-color: #eb1e25;
}

.meal-form {
  background-color: #fff;
  height: 100vh;
  overflow-y: scroll;
}

.meal-form::-webkit-scrollbar {
  display: none;
}

.meal-form .container .header h5 {
  font-size: 18px;
}

.meal-form .container .header p {
  font-size: 12px;
}

.meal-form .container form {
  margin: 0 auto;
  text-align: center;
}

.meal-form .container form label {
  font-weight: 600;
  margin-top: 40px;
}

.meal-form .container form input {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  padding: 15px 25px;
  font-size: 12px;
  background-color: #fff;
  margin-top: 5px;
}

.add-space {
  margin-top: 200px;
}
/*****************************************************/
.create-caterer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #fff !important;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 5px;
}

.create-caterer-btn .create-caterer-button {
  background-color: #eb1e25;
  color: white;
  border-radius: 47px;
  padding: 10px 80px;
}

.create-caterer-btn .create-caterer-button:hover {
  background-color: #eb1e25;
}

.new-caterer {
  background-color: #fff;
  height: 100vh;
}

.new-caterer .container .header h5 {
  font-size: 24px;
  font-weight: 600;
}

.new-caterer .container .header p {
  font-size: 12px;
}

.new-caterer .container form {
  margin: 0 auto;
  text-align: center;
}

.new-caterer .container form label {
  font-weight: 600;
  margin-top: 40px;
  font-size: 14px;
}

.new-caterer .container form input {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #dddddd;
  width: 90%;
  padding: 15px 25px;
  font-size: 12px;
  background-color: #fff;
  margin-top: 5px;
}

/*********************************************************************/
.caterers {
  background-color: #dddddd;
  height: 100vh;
  overflow-y: scroll;
}

.caterers::-webkit-scrollbar {
  display: none;
}

.caterers .little-space {
  margin-top: 200px !important;
}

.caterers .container .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.caterers .container .inner .header h5 {
  font-size: 16px;
  font-weight: 600;
}

.caterers .container .inner .admin-caterer-btn .admin-caterer-button {
  background-color: #eb1e25;
  color: white;
  border-radius: 47px;
  font-size: 10px !important;
  font-weight: 200;
  padding: 10px !important;
}

/************************************************************/
.caterer-details {
  background-color: #fff;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  text-transform: capitalize;
}

.caterer-details .container .header h6 {
  font-weight: 600;
  font-size: 14px;
  margin-top: 5px;
}

.caterer-details .container .body p {
  font-size: 12px;
  margin-top: 2px;
}

.caterer-details .container .delete-caterer {
  background-color: #eee;
}

.caterer-details .container .delete-caterer .MuiSvgIcon-root {
  color: #050726;
  font-size: 30px;
}

.total-orders {
  background-color: #dddddd;
  height: 100vh;
  overflow-y: scroll;
}

.total-orders::-webkit-scrollbar {
  display: none;
}

.single-order {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.total-orders .container .the-orders .order-cart {
  display: flex;
  justify-content: space-between;
}

.total-orders .container .the-orders .order-cart .all {
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}

.total-orders .container .the-orders .order-cart h5 {
  font-size: 14px;
  font-weight: 600;
}

.total-orders .add-space-to-order {
  margin-top: 100px;
}

.single-order .container .header h5 {
  font-size: 14px;
  font-weight: 700;
}

.single-order .container .header h6 {
  font-size: 12px;
  font-weight: 500;
}

.single-order .container .header p {
  color: #00ff00;
  font-size: 12px;
  font-weight: 600;
}

.single-order .container .single-order-btn {
  color: #050726;
  font-weight: 600;
  background-color: #dddddd;
  font-size: 10px;
  border-radius: 47px;
}

.caterer-store {
  background-color: #dddddd;
  height: 100vh;
  overflow-y: scroll;
}

.caterer-store .some-space {
  margin-top: 200px !important;
}

.caterer-store .container .details {
  padding-top: 30px;
  color: white;
  margin: 0 auto;
}

.caterer-store .container .details h6 {
  font-size: 10px;
  font-weight: 300;
}

.caterer-store .container .details .total-caterers .inner-total {
  background-color: #050726;
  padding: 10px;
  border-radius: 16px;
  border: none;
}

.caterer-store .container .details .food-category .inner-food {
  background-color: #9717b7;
  padding: 10px;
  border-radius: 16px;
  border: none;
}

.caterer-store .container p {
  font-size: 12px;
  font-weight: 600;
  padding: 5px 20px;
}

.single-nigerian-food-container {
  height: 200vh !important;
  background-color: #dddddd;
}

.single-nigerian-food {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.single-nigerian-food-container .container h6 {
  font-weight: 600;
}

.single-nigerian-food-container .container p {
  color: green;
}

.single-nigerian-food-container .container .single-nigerian-food h5 {
  font-size: 14px;
  font-weight: 600;
}

.single-nigerian-food-container .container .single-nigerian-food h6 {
  font-size: 12px;
  color: gray;
  text-transform: capitalize;
}

.single-nigerian-food-container .container .edit-btn {
  color: #050726;
  background-color: #ddd;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 47px;
}

.single-continental-food-container {
  height: 200vh !important;
  background-color: #dddddd;
}

.single-continental-food {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.single-continental-food .edit-btn {
  color: #050726;
  background-color: #ddd;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 47px;
}

.single-continental-food-container .container h6 {
  font-weight: 600;
}

.single-continental-food-container .container .single-continental-food h5 {
  font-size: 14px;
  font-weight: 600;
}

.single-continental-food-container .container .single-continental-food h6 {
  font-size: 12px;
  color: gray;
  text-transform: capitalize;
}

.order-details {
  background-color: #dddddd;
  height: 100vh;
}

.order-details .container .header h4 {
  font-weight: 600;
  font-size: 18px;
}

.order-details .container .contents {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.order-details .container .contents h5 {
  font-weight: 600;
}

.order-details .container .contents h6 {
  font-size: 14px;
  color: gray;
}

.order-details .container .contents p {
  font-size: 12px;
  color: #00ff00;
  font-weight: 600;
}

.order-details .complete-order-btn {
  margin-top: 20px;
  text-align: center;
}

.order-details .complete-order-btn .complete-order {
  background-color: #00ff00;
  border-radius: 47px;
  color: white;
  font-size: 12px;
  padding: 10px 20px;
  font-weight: 600;
}

.completed {
  background-color: #dddddd;
  height: 100vh;
  overflow-y: scroll;
}

.completed::-webkit-scrollbar {
  display: none;
}

.completed .completed-space {
  margin-top: 80px;
}

.completed .container .the-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed .container .the-link h5 {
  font-size: 14px;
  font-weight: 600;
}

.completed .container .the-link .compl_ete {
  border-bottom: 2px solid #000;
  padding: 5px;
}

.completed .container .header h4 {
  font-weight: 600;
  font-size: 18px;
}

.completed .container .the-completed {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.completed .container .the-completed h5 {
  font-weight: 600;
  font-size: 16px;
}

.completed .container .the-completed h6 {
  font-size: 14px;
  color: gray;
}

.completed .container .the-completed .completed-order-btn {
  background-color: #eb1e25;
  font-size: 12px;
  text-transform: capitalize;
  color: white;
  padding: 5px 10px;
  border-radius: 47px;
}

/****************************************/
.admin-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.admin-modal .admin-modal-container {
  background-color: #f4f4f4;
  padding: 5px;
  width: 95%; /*change the size of the modal box here*/
  height: 450px; /*change the height of the modal box here*/
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 13% auto;
  position: relative;
  overflow-y: scroll;
}

.admin-modal .admin-modal-container .header h5 {
  font-size: 16px;
  font-weight: 600;
}

.admin-modal .admin-modal-container .admin-modal-btns {
  text-align: center;
}

.admin-modal .admin-modal-container .admin-modal-btns .admin-modal-single-btn {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 47px;
  background-color: #eb1e25;
  color: white;
}

.process-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.process-modal .process-modal-container {
  background-color: #f4f4f4;
  padding: 5px;
  width: 90%; /*change the size of the modal box here*/
  height: 100px; /*change the height of the modal box here*/
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 13% auto;
  position: relative;
}

.process-modal .process-modal-container h3 {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.process-modal .process-modal-container .process-order-btn {
  text-align: center;
  font-size: 12px;
}

.process-modal .process-modal-container .process-order-btn .MuiSvgIcon-root {
  color: #000;
}

.success-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.success-modal .success-modal-container {
  background-color: #fff;
  padding: 5px;
  width: 90%; /*change the size of the modal box here*/
  height: 100px; /*change the height of the modal box here*/
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 13% auto;
  position: relative;
}

.success-modal .success-modal-container h3 {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.success-modal .success-modal-container .success-order-btn {
  text-align: center;
  font-size: 12px;
}

.success-modal .success-modal-container .success-order-btn .MuiSvgIcon-root {
  color: #00ff00;
}

.edited-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.edited-modal .edited-modal-container {
  background-color: #fff;
  padding: 5px;
  width: 90%; /*change the size of the modal box here*/
  height: 400px; /*change the height of the modal box here*/
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 10% auto;
  position: relative;
  text-align: center;
}

.edited-modal .edited-modal-container form label {
    font-weight: 600;
    font-size: 16px;
}

.edited-modal .edited-modal-container form input {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #dddddd;
  width: 90%;
  padding: 15px 25px;
  font-size: 12px;
  background-color: #fff;
  margin-bottom: 15px;
}

.edited-modal .edited-modal-container .edit-modal-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
















































/***********Media Queries******************/
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .guest .home .row p {
    font-size: 12px;
  }

  .guest .home .row .homepage-btn .homepage-button {
    font-size: 10px !important;
    padding: 10px 55px;
  }

  /*******************************/
  .the-modal .modal-container {
    margin: 50% auto;
    width: 300px;
    height:260px;
  }

  .the-modal .modal-container .header h3 {
    font-size: 20px;
    margin-top: 5px;
  }

  .the-modal .modal-container .header p {
    font-size: 11px;
    padding: 5px 5px;
  }

  .the-modal .modal-container .contents form {
    margin-top: 2px;
  }

  .the-modal .modal-container .contents form h6 {
    font-size: 12px;
    font-weight: 600;
  }

  .the-modal .modal-container .contents form input {
    padding: 8px;
    width: 220px;
    font-size: 11px;
  }

  .the-modal .modal-container .contents form .table-number {
    margin-top: 5px !important;
  }

  .the-modal .modal-container .contents form .modal-button {
    margin-top: 10px;
    padding: 5px 40px;
    font-size: 12px;
  }
  /******************************/
  .categories .container .category-header h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .categories .container .category-header p {
    font-size: 13px;
  }

  .categories .container .category-contents img {
    width: 100px;
  }  

  .categories .container .category-contents .continental .texts, .categories .container .category-contents .nigerian .texts {
    padding: 5px 10px;
  }

  .categories .container .category-contents .nigerian .texts h3{
    font-size: 16px;
    font-weight: 600;
  }

  .categories .container .category-contents .nigerian .texts h6 {
    font-size: 12px;
  }
  
  .categories .container .category-contents .continental .texts h3{
    font-size: 16px;
    font-weight: 600;
  }

  .categories .container .category-contents .continental .texts h6 {
    font-size: 12px;
  }

  /*******************************/

  .checkbox .available {
    font-size: 14px;
    font-weight: 600;
  }

  .checkbox .desc p {
    font-size: 10px;
  }

  .checkbox input[type = "checkbox"] {
    height: 14px;
    width: 14px;
  }

  .nigeria .container .nigerian-meals .meals-button {
    font-size: 12px !important;
    padding: 10px 40px;
  }

/*************************************/
  .update .container .update-header h3 {
    font-size: 20px;
  }

  .update .container .update-header p {
    font-size: 14px;
  }

  .update .container .update-status h4 {
    font-size: 16px;
  }

  .update .container .update-status p {
    font-size: 12px;
    color: #424242;
  }

  .update .container .update-status .successful {
    border-left : 3px solid green ;
    padding: 8px 16px;
    margin-bottom: 6px;
  }

  .update .container .update-status .in-progress, .served {
    padding: 8px 16px;
    margin-bottom: 20px;
  }

  /*********************************************************/
  .admin-login .homepage .row img {
    height: 220px;
  }
  
  .admin-login .homepage .admin-login-details form {
    text-align: center;
    margin: 0 auto;
  }
  
  .admin-login .homepage .admin-login-details form input {
    padding: 10px;
    border-radius: 47px;
    width: 240px;
    font-size: 10px;
    border: 0.1px solid gray;
  }

  .admin-login .homepage .admin-login-details form .admin-btn {
    padding: 10px 50px;
  }

  .add .container .texts h5 {
    font-size: 16px;
  }

  /*****************************************************************/
  .new-meal .container .category-contents .continental .texts, .new-meal .container .category-contents .nigerian .texts {
    padding: 5px 10px;
  }
  
  .new-meal .container .category-contents img {
    width: 100px;
    object-fit: contain;
    border-radius: 10px;
  }

  .new-meal .container .header h5 {
    font-size: 18px;
  }

  .new-meal .container .category-contents .nigerian .texts h3{
    font-size: 16px;
    font-weight: 600;
  }

  .new-meal .container .category-contents .nigerian .texts h6 {
    font-size: 12px;
  }

  .new-meal .container .category-contents .continental .texts h3{
    font-size: 16px;
    font-weight: 600;
  }

  .new-meal .container .category-contents .continental .texts h6 {
    font-size: 12px;
  }

  .meal-form .container form label {
    font-size: 12px;
  }

  .meal-form .container form input {
    width: 260px;
    padding: 10px 25px;
    font-size: 14px;
  }
  /*****************************************************/
  .new-caterer .container form label {
    margin-top: 20px;
  }

  .new-caterer .container form input {
    padding: 10px 25px;
  }
}



@media only screen and (min-width: 481px) and (max-width: 768px) { 
  /**************************************/
  /*************************************/
  .the-modal .modal-container {
    margin: 25% auto;
    width: 300px;
    height: 260px;
  }

  .the-modal .modal-container .header h3 {
    font-size: 18px;
  }

  .the-modal .modal-container .header p {
    font-size: 11px;
    padding: 5px 5px;
  }

  .the-modal .modal-container .contents form {
    margin-top: 30px;
  }

  .the-modal .modal-container .contents form h6 {
    font-size: 12px;
    font-weight: 600;
  }

  .the-modal .modal-container .contents form input {
    padding: 8px;
    width: 200px;
    font-size: 11px;
  }

  .the-modal .modal-container .contents form .modal-button {
    margin-top: 10px;
    padding: 8px 40px;
    font-size: 12px;
  }

  /*************************************************/
  .categories .container .category-header h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .categories .container .category-header p {
    font-size: 13px;
  }

  .categories .container .category-contents img {
    width: 100px;
  }  

  .categories .container .category-contents .continental .texts, .categories .container .category-contents .nigerian .texts {
    padding: 5px 10px;
  }

  .categories .container .category-contents .nigerian .texts h3{
    font-size: 16px;
    font-weight: 600;
  }

  .categories .container .category-contents .nigerian .texts h6 {
    font-size: 12px;
  }
  
  .categories .container .category-contents .continental .texts h3{
    font-size: 16px;
    font-weight: 600;
  }

  .categories .container .category-contents .continental .texts h6 {
    font-size: 12px;
  }

  /**********************************************/
  .checkbox .available {
    font-weight: 600;
  }

  .checkbox .desc p {
    font-size: 12px;
  }

  /******************************************/
  .admin-login .container .homepage img {
    height: 120px;
  }

  .admin-login .container .admin-login-text .header h2 {
    font-size: 18px;
  }

  .admin-login .container form input {
    width: 300px;
    padding: 10px 15px;
    font-size: 14px;
    margin-bottom: 20px !important; 
  }

  .admin-login .container form .admin-btn {
    margin-top: 100px;
  } 
} 

@media only screen and (min-width: 769px) and (max-width: 1024px) { 
  .guest .container .homepage img {
    height: 220px !important;
    margin-top: 130px;
  }

  .the-modal .modal-container {
    margin: 20% auto;
    width: 300px;
    height: 260px;
  }

  .the-modal .modal-container .header p {
    font-size: 10px;
    padding: 5px 10px;
  }

  .the-modal .modal-container .contents form {
    margin-top: 10px;
  }

  .the-modal .modal-container .contents form h6 {
    font-size: 13px;
    font-weight: 600;
  }

  .the-modal .modal-container .contents form input {
    padding: 8px;
    width: 240px;
    font-size: 11px;
  }

  .the-modal .modal-container .contents form .modal-button {
    margin-top: 10px;
    padding: 8px 60px;
    font-size: 12px;
  }

  .admin-login .container .homepage img {
    height: 160px;
  }
}
